:root {
    --tertiary: #5F9EA0;
    --tertiary-low-or-tertiary-high: #5F9EA0;
}

html {
    background-color: #14181c;
}

.d-header {
    background: url('https://gitlab.com/papajoker/darkcity/-/raw/master/bg.top.png') #14181c repeat-x top left;
    background-size: auto 80%;
}
.badge-wrapper .badge-category .category-name ,
.d-header-icons .d-icon {
    color:#bbb;
}

.d-header>.wrap {
    max-width: calc(100% - 12px);
    width: 1110px;
    background-color: #24282c;
}

#main-outlet {
    background-color: #24282c;
    padding-bottom:110px;
}

#main>.ember-view:before {
    background: url("https://gitlab.com/papajoker/darkcity/-/raw/master/header-title.png") no-repeat;
    background-size: 65px auto;
    opacity:0.06;
    content: "";
    position:fixed;
    margin-top:70px;
    width:80px;
    height:190px;
}


.custom-footer {
    padding-top: 0px;
    border-top: 0px;
    margin-top: -80px;
    background-color: transparent;
    position:relative;
}

.custom-footer::before {
    content: "";
    height:100px;
    width:100%;
    background: url('https://gitlab.com/papajoker/darkcity/-/raw/master/bg.top.inv.svg') transparent repeat-x top left;
    background-size: auto 130px;
}

.custom-footer .wrap {
    background-color: #171717;
}

.custom-footer .wrap::before {
    content: "";
    background-color: #171717;
    position:absolute;
    z-index: 0;
    left: 0;
    top: 100px;
    height: calc(100% - 100px);
    width: 100%;
}

.post-retort {
  background: none;
  border: none;
}
.post-retort__count {
    color: var(--primary-low-mid);
}

.navigation-container {
    position: fixed;
    width: 180px;
    margin-left: -190px;
    font-size:14px;
}
.navigation-container ol.category-breadcrumb li ,
.navigation-container li {
    float: none;
    display:block;
}
.navigation-container .nav-pills>li>a {
    font-size:14px;
}

.list-controls .combo-box .combo-box-header {
    display: flex;
    margin: 1px 2px;
    padding: 6px 12px;
    min-height: 30px;
    border: none;
    box-sizing: border-box;
    background: var(--primary-low);
}

.custom-footer .flexbox {
    color: #00796b;
    position:relative;
}
.custom-footer .footer-section-link-wrapper a, 
.custom-footer .third-box .small-link ,
.custom-footer .third-box .social .social-link .d-icon {
    color: #ddd;
}
.custom-footer .first-box .blurb {
    color: #666;
}

.nav-pills>li.active>a, .nav-pills>li>a.active {
    color: #fafafa;
    font-weight: 500;
    background-color: #212121;
    border-bottom: 3px solid #00796b;
}

 
